@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&family=Varela+Round&display=swap');

.footerbox{
    background: linear-gradient(90deg, rgb(27, 25, 32) 0%, rgb(158, 174, 203) 100%);
    color: whitesmoke;
    height:50vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    align-self:flex-end;
}
.sub-footerbox{
    align-items: center;
    margin:10px 10px 10px 10px;
    padding:5px 5px 5px 5px;
    height: 95%;
    width:70%;   
}
.Socialsbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mail-container{
    font-size:clamp(10px,25px,50px);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: space-between;
}
.emailid-btn{
    font-size: clamp(10px,25px,50px);
    font-family: 'Tajawal', sans-serif;
    display:flex;
    flex-direction: column; 
    box-shadow: 5px 8px 1px hsl(0, 53%, 12%);
    transition: 0.2s ease-out;
    background-color: rgb(184, 232, 180);
}
.emailid-btn:hover.emailid-btn{
    transform: translateY(-10px);
    box-shadow: 10px 10px 1px hsl(0, 53%, 12%);
}
.Socialsbox h2{
    font-family: 'Source Sans Pro', sans-serif;
}
.img{
    width: 50px;
}
.socialslist{
display: flex;
flex-direction: column;
justify-content: space-evenly;
width:30%;
}
.footerquote{
    margin:30px;
    font-size: clamp(1em,30px,6em);
    font-family: 'Josefin Sans', sans-serif;
    font-weight:900;
}
@media screen and (max-width:950px){
    .footerbox{
        height: 60vh;
    }
    .emailid-btn{
        width:90%;
        font-size:0.7em;
        align-self: center;
    }
    .emailid{
        margin-left:15px;
    }
    .mail-container{
        display: flex;
        flex-direction: column;

    }
    .Otherstuff-box{
        width:100%;
        text-align: center;
        align-self: center;
        font-size: 2em;
    }
    .sub-footerbox{
        align-self: center;
    }
    .socialslist{
        flex-direction: row;
    }
    .emailid-btn img{
        align-self: center;

    }
}