@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
.mainheading-Hobbies{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(204, 235, 204) 100%);      
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50%; */   
}

.Hobbies-gridbox{
    display: grid;
    justify-content: space-around;
    grid-template-columns: clamp(10em,500px,40em) clamp(10em,500px,40em) clamp(10em,500px,40em);
    grid-template-rows: clamp(3em,700px,300em) clamp(3em,600px,30em) 
    /* gap:1.5em; */
}
.Hobbiesbox-textheading{
    font-size: clamp(1em,60px,6em);
    font-family: 'Kalam', cursive;
}

.hobby-griditem{
    margin:20px;
    background-color: rgb(22, 199, 239);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 15px 5px 0 grey;
    transition: 0.2s ease-out
}
.hobby-griditem-2{
    margin:20px;
    background-color: rgb(95, 120, 220);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 10px 2px 0 grey;
}
.hobby-griditem:hover{
    box-shadow: 25px 15px 0 grey;
    transform: translateY(-20px);
}
.hobby-griditem:hover .hobby-textbx-info{
    /* visibility: visible; */
    display: inline;
    transform: translateY(-20px);

}
.hobby-imagebx,.hobby-imagebx2 {
    height:55%;
    border:1px transparent;
    border-radius: 10px;
}

.hobby-imagebx img{
    margin-top: 20px;
    width:80%;
    border-radius:50px;
}
.hobby-imagebx2 img{
    margin-top: 20px;
    width:80%;
    border-radius:50px;
}
.hobby-textbx{
    margin:10px 10px 10px 10px 10px; 
    border-radius: 10px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'DM Sans', sans-serif;
}
.hoobby-textbx-heading{
    font-size: clamp(2em,33px,5em);
    font-family: 'PT Sans Caption', sans-serif;
}
.hobby-textbx-info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1em,25px,45px);
    /* display: visibility; */
    /* visibility: hidden; */
    display: none;
}
@media screen and (max-width:950px){
    .Hobbiesbox-textheading{
        font-size: clamp(2em,3em,5em);
    }
    .Hobbies-gridbox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-content: center; */
    }
    .hobby-griditem,.hobby-griditem-2{
        width:70%;
        align-self: center;
    }
    .hobby-textbx-info{
    font-size:1.3em;
    padding:0.5em;
    }
}
