@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

.mainheading-Home{
    color:black;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #B1F7B5;
    align-content: flex-start;
    margin:0px 0px 0px 0px;
}
.flexbx{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.hiwave{
    font-size: clamp(2em,100px,15em);
    display:flex;
    align-items: flex-start;
    text-align: left;       
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 90% 90%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
    
.namebox1{
    font-weight:300;
    font-size: clamp(3em,150px,12em);
    text-align: left;
}
.name{
    font-family: 'PT Sans Caption', sans-serif;
}
.namebox2{
    display: flex;
    flex-direction: column;  
    font-weight: 500;
    font-size: clamp(3em,200px,12em);
    text-align: left;
} 
.infobox{
    font-size: clamp(2em,35px,5em);
    background: rgb(2,0,36);
    background: linear-gradient(113deg, rgba(2,0,36,1) 0%, rgba(119,116,230,0.6824930655856092) 0%, rgba(5,109,187,1) 3%, rgba(3,95,217,1) 9%, rgba(0,212,255,1) 76%, rgba(111,127,231,0.9654062308517157) 100%); 
    color:#ecd6d6;
    border-radius: 35px;
    font-family: 'Maven Pro', sans-serif;
    height: 20%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.infobox p{
text-align: center;
width:100%;
}


@media screen and (max-width:1200px){
    .namebox1{
        width:80%;
        font-size:8em;
    }
    .namebox2{
        width: 80%;
        font-size:8em;
    }

}
@media screen and (max-width:950px){
    .flexbx{
        justify-content: center;
    }
    .hiwave{
        text-align: center;
        align-self: center;
    }
    .namebox1{
        text-align: center;
        align-self: center;
    }
    .namebox2{
        text-align: center;
        align-self: center;
        font-size:clamp(2em,7em,10em);
    }
    .infobox{
        width:100%;
        height:20%;
        font-size: calc(2vw + 1vh + .5vmin);
    }
}

@media screen and (max-width:500px){
.hiwave{
    font-size:3em;
}
    .namebox1{
    font-size: 3.8em;
}
.namebox2{
    font-size:5em;
}
.infobox{
    align-self: center;
    width:80%;
}
}