@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap'); 

.navbar{
    position:fixed;
    width:25vw; 
    bottom:5%;
    right:1%;  
    z-index: 2;
} 
.navbarbox{
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(153, 231, 231);
    width:100%;
    border-radius: 200px;
    font-weight: 500;
    font-size:1.5rem;
    transition: 0.2s ease-out;
}
.navitem a{
    text-decoration: none;
    color:none;
}
.navitem {
    display: flex;
    font-family: 'Shantell Sans', cursive;
}

.navitem:hover {
    cursor: pointer;
}
button{
    background-color: transparent;
    font-family: 'Shantell Sans', cursive;
    font-size: 1.2rem;
    border:0px;
    padding: 0px;
    margin: 0px;
}
img{
    width:40px;
}
@media screen and (max-width:1100px){
    .navbar{
      left:30%;
      width:100%;
      font-size: 0.2rem;
    }
    .navitem{
        font-size: 1.5rem;
        padding: 2px;
        margin:5%;
        font-weight:900;    
    }
  }
  @media screen and (max-width:600px){
    .navbar{
        left  : 10vw ;
        width : 80%  ;
        /* bottom: 10vh  ; */
    }
    button{
        font-size: 1rem;        
    }
  }
  
