<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <!-- <div style ="color:aliceblue;" class="Socialbox">

    </div> -->
    <!-- <script>
        let socials = {
    "twitter": '../images/twitter.jpg',
    "Linkedin": '../images/linkedin.jpg',
    // Mail: {},
    // Github: {},
  };
  for (let social in socials) {
    const socialbox = document.getElementsByClassName("Socialbox")[0];
     
    var newelement1 = document.createElement("div");
    newelement1.innerHTML = social;
    // console.log(social);
    var newelement2 = document.createElement("div");
    var imgelement = document.createElement("img",);
    imgelement.setAttribute("src",socials[social])
    // console.log(imgelement)
    newelement2.append(imgelement)
    socialbox.append(newelement1);
    socialbox.append(newelement2);
  }
    </script> -->

    <div id="wrapper_1">
      Creating slideshows PHP
    </div>
    
    <div id="wrapper_2">
      Creating slideshows with WordPress
    </div>


    <style>
      #wrapper_1 {
      background-color: pink;
      height: 100px;
      float: left;
      width: 100px;
      }
      #wrapper_1:after {
      content: "";
      background-color: #000;
      position: absolute;
      width: 5px;
      height: 100px;
      top: 10px;
      left: 50%;
      display: block;
      }
      #wrapper_2 {
      background-color: brown;
      height: 100px;
      width: 100px;
      float: right;
      }
    </style>
  </body>
</html>







// socials.map((el) => {
  //   console.log(el)
  //   console.log(sociallinks[el])
  //   return (
  //      <a href={sociallinks[el]}> <img src={el} alt=""style={{width:"50px"}} /></a>

  //   ); 
   
  // })